body{
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center center;
    background-size: cover;
    font-family: 'Public Pixel', sans-serif;
    background-attachment: fixed;
}
.non-recipe{
    background-image: url('pics/kitchen\ background.png'); 
}

#new_recipes{
    background-image: url('pics/dining\ room\ bg.png');
}

#saved_recipes{
    /* background-image: url('pics/dining\ room\ bg.png'); */
    background-image: url('pics/book-bg.png');
}

#foodtracker{
    background-image: url("pics/foodtracker\ bg.jpg")
}

.icons{
    width:110px;
    height:110px
}

.header{
    background-color:rgb(255, 251, 242); 
    border: 3px #954639ff solid;
}

.main-btn{
    background-color:rgb(255, 251, 242); 
    border: 4px rgb(184, 83, 0) solid;

}

.nav-btn{
    background-color:rgb(234,212,170);
    border: 3px solid rgb(180, 72, 26);
    color:black;
}

.nav-btn:hover{
  background-color:rgb(234,212,170);
    border: 3px solid rgb(201,142,117);
    color:brown;
}

@media (max-width: 767px) {
    h2 {
        font-size: 20px;
    }
    body {
        font-size: 1px;
    }
}




@media (min-width: 768px) {
    body {
        font-size: 20px;
    }
}