.icons{
    width:110px;
    height:110px
  }

  #funfact{
    font-size:15px;
  }

  .overlay {
   /* To bring the bottom segment up in phone screen, see media below */
   display: flex;
   flex-direction: column;

   bottom: 0;
   right: 0;
   left: 0;
   top: 0;
   height: 100vh
   }
   

  @media (max-width: 767px) {
      .bottom-segment, .buttons-segment, .funfact-segment{
        height:auto;
      }
      img{
        width:40px;
        height:40px;
      }

  }

  @media (min-width: 768px) {
        .bottom-segment{
        height: 50vh;
        bottom:0;
      }

      .buttons-segment{
        height: 35vh;
      }

      .funfact-segment{
        height: 20vh;
      }
  }

  #funfact{
    line-height:22px;
    font-weight: 900;
    font-family: monospace;

  }
  
  #foodtracker-btn{
    color:rgb(10, 135, 144);
    border:4px rgb(10, 135, 144) solid;
    
  }

  #foodtracker-btn:hover{
      background-color:rgb(10, 135, 144);
      border:3px rgb(255, 251, 242) dashed;
      color:white;
  }

  #quiz-start-btn{
    color:rgb(205, 74, 27);
    border: 4px rgb(205, 74, 27) solid;
  }
  #quiz-start-btn:hover{
      background-color: rgb(224, 89, 41);
      border:3px rgb(255, 251, 242) dashed;
      color:white;
  }

  #saved-recipe-btn{
    color:rgb(75, 35, 29);
    border: 4px rgb(75, 35, 29) solid;
    
  }
  #saved-recipe-btn:hover{
      background-color: rgb(75, 35, 29);
      border:3px rgb(255, 251, 242) dashed;
      color:white;
  }
  [v-cloak]{
    display:none
  }