@import url('https://fonts.cdnfonts.com/css/public-pixel');

/* Reset margin and padding for body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Public Pixel', sans-serif;
    overflow: auto;
}

.overlay {
    position: relative;

    display: flex;
    flex-direction: column;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
}

#logo {
    width: 150px;
    height: 100px;
    position: absolute; 
    top: 10px;
    left: 10px;
}

#chef {
    width: 170px;
    height: 170px;
    position: absolute; 
    bottom: 49%;
    right: 10px;
    z-index: 2;
}

#receipe-view, #zero-waste, #foodtracker-view {
    width: 70%;
    height: 50%;;
}


.top-container {
    height: 50%;
    width: 100%;
}

.top-container h1 {
    font-size: 30px;
}

.bottom-container {
    bottom: 0;
    top: 50%;
    height: 50%;
    position: absolute;
}

.bottom-container img{
    width: 50%;
    height: 50%
}

.bottom-container h1 {
    font-size: 30px;
}

.bottom-container p {
    font-size: 15px;
}

.col {
    padding: 0;
    border: 2px solid #b86f50; 
    
}

.row {
    height: 100%;
}

.content {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
    font-family: 'Public Pixel', sans-serif; 
}

.track{
    background-color: #ead4aa 
}

.waste, .build {
    background-color: #e4a672
}

.floating-container {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 30%; 
    position: absolute; 
    background-color: hsla(0, 100%, 100%, 0.8); 
    top: 10%; 
    left: 15%; 
    right: 15%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

#buttons {
    justify-content: between;
    margin-top: 20px;
}

.btn-sign-up, .btn-login {
    background-color: #ead4aa ; 
    color: black; 
    border: 2px solid #b86f50; 
    transition: background-color 0.3s;
}

.btn-sign-up:hover {
    background-color: #ebca8d;
}

.btn-login:hover {
    background-color: #ebca8d; 
}


@media (max-width: 768px) { /* Adjust this breakpoint as needed */
    #logo {
      width: 100px;
      height: 70px; /* Smaller size for smaller screens */
    }
  
    .floating-container h1 {
      /* Smaller font size for smaller screens */
      font-size: 20px; 
      /* Ensures text fits within the container */
      word-wrap: break-word;
      padding: 0 10px; /* Add padding to keep content from touching the edges */
    }

    #buttons {
        display: flex; /* Keep buttons next to each other */
        justify-content: center; /* Center buttons horizontally */
        flex-wrap: nowrap; /* Prevent buttons from wrapping to the next line */
    }
    
    .btn-sign-up, .btn-login {
    box-sizing: border-box; /* Include padding and border in the width calculation */
    width: calc(50% - 10px); /* Adjust the width of the buttons to fit side by side, accounting for any margins */
    margin: 0 5px; /* Add margin to create space between buttons, adjust as needed */
    }
    
    #chef {
    width: 70px;
    height: 70px;
    }

    .floating-container {
        left: 15%;
        right: 15%;
    }
}
  
  /* Further responsiveness for even smaller screens such as mobile phones */
@media (max-width: 480px) {
    #logo {
        width: 100px;
        height: 70px; /* Even smaller size for mobile screens */
    }
    
    /* Further reduce the font size for mobile screens */
    .floating-container h1 {
        font-size: 10px; 
    }

    .floating-container {
        left: 15%;
        right: 15%;
    }

    #buttons {
        flex-direction: column; /* Stack buttons vertically */
        width: 100%; /* Use the full width of the container */
        align-items: center; /* Center buttons horizontally */
    }
    
    .btn-sign-up, .btn-login {
        font-size: 10px;
        width: 80%; /* Adjust the width of the buttons as per design needs */
        margin: 10px 0; /* Add margin for vertical spacing between buttons */
    }

}