.btn{
    background-color:rgb(255, 251, 242); 
    border: 5px #954639ff dashed;
}
.btn:hover{
    background-color: #D97742ff;
    border:3px rgb(255, 251, 242) dashed;
    color:white;
}
#pot-container{
    display:flex;
    text-align:center
}
.gifs{
    width:500px;
    height:300px

}
[v-cloak]{
    display:none
}