<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Waste Neko</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../styling/landingpage.css">
</head>
<body>
    <div class="top-container">
        <img src="../styling/pics/kitchen background.png">
        <div class="floating-container">
    
        </div>
    </div>
    <div class="bottom-container">
        <div class="row">
            <div class="col">
                <div class="build content">
                    <h1>Build Your Own Recipes!</h1>
                    <p>Play a fun mini-game and get a personalised list of recipes</p>
                </div>
            </div>
            <div class="col">
                <div class="track content">
                    <h1>Track Your Ingredients!</h1>
                    <p>No more rotten food! Chef Neko will help you keep track of your food's expiry dates!</p>
                </div>
            </div>
            <div class="col">
                <div class="waste content">
                    <h1>Reduce Food Wastage</h1>
                    <p>Make the most out of your groceries with No-Waste Neko and do your part in reducing food wastage!</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>