<!DOCTYPE html>
<html lang="en">

<head>
    <title>No Waste Neko</title>
    <link rel="stylesheet" type="text/css" href="../styling/loginpage.css">

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
    </style>
</head>

<body id="main">
    <div id="loading-screen" class="loading-screen">
        <img src="../styling/pics/cat-chef.png" alt="logo" style="width: 300px; height: 300px;">
        <div class="spinner"></div>
        <h2> Taking you to No Waste Neko!</h2>
        <p id="funfact">Fun Fact: </p>
    </div>

    <div class="login-container">
        <h2>Login</h2>

        <form name="login_form" @submit.prevent="validate_form">

            <div class=" input-group">
                <label for="username">Username/Email:</label>
                <input type="text" id="username" name="username" v-model="form.username" required>
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" v-model="form.password" required>
            </div>
            <input type="submit" value="Login" id="login-button" class="btn-login">
        </form>

        <div class="signup-login-buttons">
            <a class="btn-signup" href="signuppage.html">Sign Up</a>
        </div>
    </div>

    <!-- axios cdn -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- vue cdn -->
    <script src="https://unpkg.com/vue@next"></script>
    <script src="../scripts/login_vue.js"></script>

</body>

</html>
