<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>No Waste Neko</title>

        <!-- Vue.js Version 3 CDN -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        
    <!-- Font API -->
    <link href="https://fonts.cdnfonts.com/css/public-pixel" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link href="../styling/default.css" rel="stylesheet">

    <link href="../styling/profile_page.css" rel="stylesheet">

    <!-- redirect if not logged in -->
    <script src="../scripts/redirect.js"></script>


    <style>

    </style>

<body class="non-recipe">
    <div id="main">
        <div id="loading-screen" class="loading-screen">
            <div class="spinner"></div>
            <p> Hang on tight while we retrieve your profile!</p>
        </div>
    <!-- Logo and Home button -->
    <!-- d-flex -->
    <div class="container d-flex mb-5">
        <div class="col text-start">
            <img id="logo" src="../styling/pics/logo.png"  alt="">
        </div>
        <div class="col text-end mx-3">
            <a type="button" class="nav-btn btn btn-lg mt-5 " href="homepage.html">Home</a>
        </div>
    </div>

    <!-- User profile info -->
    <!-- d-block mx-auto h-75 -->
    <div class="container d-block h-75 mx-auto rounded-3" id="profile">

        <img src="../styling/pics/cat-chef.png" class="mx-auto d-block" alt="">
        <h4 class="header text-center rounded-pill w-50 p-3 mx-auto text-center" style="max-width: 100%;" id="name">{{userName}}</h4>
        
        <div class="row">
            <div class="col info">
                <!-- Multi-select checkboxes -->
                <h4 id="dietary_requirements">Diet:</h4>
                <ul>
                    <!-- Examples of diet: vegan -->
                    <!-- Halal -> exclude ingredietns (pork, lard); set alcohol to 0 -->
                    <li v-for="diet of dietReq">{{ diet }}</li>
                    
                </ul>
                
            </div>
            <div class="col info">
                <h4>Intolerance:</h4>
                <ul>
                    <!-- 12 allergy options (intolerance) + other (exclude ingredients)  -->
                    <li v-for="intol of intolerances">{{ intol }}</li>
                </ul>
            </div>
        </div>
        <button type="button" class="btn btn-lg bg-white mt-3 mx-auto d-flex" data-bs-toggle="modal" data-bs-target="#edit">Edit</button>
        
        <!-- Modal pop-up to edit preferences-->
        
        <div class="modal fade" id="edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center" id="exampleModalLabel">Add New Item</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        
                        <form id="addItemForm">
                            <div class="mb-3">
                                <div class="mb-3">
                                    <label for="dietary" class="form-label">Dietary Requirements <br>
                                    <h6>Press Command and Select</h6></label>
                                    <select class="form-select" id="dietary" multiple>
                                        <option value="Vegetarian">Vegetarian</option>
                                        <option value="Vegan">Vegan</option>
                                        <option value="Pescetarian">Pescetarian</option>
                                        <option value="Halal">Halal</option>
                                        <option value="Gluten Free">Gluten Free</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Add more form inputs as needed -->
                            <div class="mb-3">
                                <div class="mb-3">
                                    <label for="intolerance" class="form-label">Intolerance <br>
                                    <h6>Press Command and Select</h6></label>
                                    <select class="form-select" id="intolerance" multiple>
                                        <option value="Dairy">Dairy</option>
                                        <option value="Egg">Egg</option>
                                        <option value="Gluten">Gluten</option>
                                        <option value="Grain">Grain</option>
                                        <option value="Peanut">Peanut</option>
                                        <option value="Seafood">Seafood</option>
                                        <option value="Sesame">Sesame</option>
                                        <option value="Shellfish">Shellfish</option>
                                        <option value="Soy">Soy</option>
                                        <option value="Sulfite">Sulfite</option>
                                        <option value="Tree Nut">Tree Nut</option>
                                        <option value="Wheate">Wheate</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" @click="saveChanges">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of modal -->
    </div>
    </div>
    
    <!-- Axios Version 0.21.1 CDN -->  
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../scripts/profile_page_vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>